<aside class="left-sidebar">
    <ul id="slide-out" class="sidenav">

        <li>
            <ul class="collapsible p-t-30">

                <li>
                    <a href="/Admin/" class="collapsible-header">
                        <i class="material-icons">home</i><span class="hide-menu">Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Meal" class="collapsible-header">
                        <i class="material-icons">foods</i><span class="hide-menu">Yemekler</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Category" class="collapsible-header">
                        <i class="material-icons">category</i><span class="hide-menu">Kategoriler</span>
                    </a>
                </li>
              
            </ul>
        </li>
    </ul>

</aside>